<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>Signup</title>

</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="post">
        <input name="provided_email" placeholder="Email"><br><br>
        <input name="provided_username" placeholder="Username"><br><br>
        <input name="provided_password" placeholder="Password"><br><br>
        <button type="submit" name="signup">Sign up</button>
        <a href="/"><h2>Home</h2></a>
        <a href="/login"><h2>Log in</h2></a>

    </form>
    {% if get_flashed_messages() %}
    <div>
        {{ get_flashed_messages()[0]}}
    </div>
    {% endif %}
</body>
</html>