     * {
            font-family: system-ui, sans-serif;
            color: white;
        }
        body {
            background-color: rgb(15 23 42);
            margin: 0;
        }
        h1 {
            font-size: 2.5dvw;
            font-weight: bold;
            margin: 0;
            color: white;
        }
        h2 {
            font-size: 2dvw;
            font-weight: bold;
            margin: 0;
            color: white;
        }
        h3 {
            font-size: 2dvw;
            font-weight: bold;
            margin: 0;
            color: white;
        }
        h4 {
            font-size: 1.5dvw;
            font-weight: bold;
            margin: 0;
            color: white;
        }
        p {
            color: white;
        }
        a {
            color: rgb(99 141 187);
        }
        button {
            border-radius: 1dvw;
            width: 13dvw;
            height: 2dvw;
            background-image: linear-gradient(to right, rgb(99 141 187) , rgba(99, 141, 187, 0.413));
            border: none;
            transition: 0.5s;
        }
        button:hover {
            width: 13.3dvw;
            height: 2.3dvw;
            cursor: pointer;
        }
        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-image: linear-gradient(to right, rgb(150, 150, 150) , rgba(150, 150, 150, 0.5));
            width: 100dvw;
            height: 15dvh;
            margin: 0px;
        }
        .heading1, .heading2 {
            text-decoration: none;
            padding: 0.5dvh;
            color: black;
            transition: 0.5s;
        }
        .heading1:hover {
            box-shadow:0 0 5px rgb(99 141 187);
        }
        .heading2:hover {
            box-shadow:0 0 5px #b91c1c;
        }
        input {
            background: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 0.15rem rgb(99 141 187) solid;
            width: 12dvw;
            transition: 0.5s;
        }
        input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus {
            outline:none;
            border-bottom: 0.15rem rgb(99 141 187) solid;
            box-shadow:0 0 10px rgb(99 141 187);
        }
        input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=number]:hover {
            width: 12dvw;
            box-shadow:0 0 10px rgb(99 141 187);
        }

        .signup1 {
            width: 25dvw;
            height: 25dvw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(150, 150, 150, 0.5);

            border-radius: 0.5dvw;
            border: 0.1dvw rgb(150, 150, 150) solid;
            box-shadow:0 0 10px rgb(99 141 187);
            /*box-shadow: 5px 5px 3px rgb(225, 225, 225);*/
        }
        .element { height: 100vh; height: 100lvh }
            @supports (-webkit-touch-callout: none) {
            @media screen and (max-width: 991px) {
            .element { height: calc( var( --vh, 1vh ) * 100 ); }
        }
        }
        .everything-but-header {
            margin: 2dvh
        }
        .hovering {
            position: relative;
            width: 130px;
        }
        .hovering-content{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            color: black;
            min-width: 130px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }
        .hovering:hover .hovering-content, .hovering-content:hover {
            display: block;
        }
        .heading3 {
            color: black;
            text-decoration: none;
            font-size: 1dvw;

        }
        .hovering-content1 {
            border-width: 10dvw;
            border-color: red;
        }
        .discoverys {
            
        }