     * {
            color: white;
        }
        body {
            background-color: rgb(15 23 42);
            margin: 0;
        }
        h1 {
            font-size: 2.5dvw;
            font-weight: bold;
            margin: 0;
        }
        h2 {
            font-size: 2dvw;
            font-weight: bold;
            margin: 0;
        }
        h3 {
            font-size: 2dvw;
            font-weight: bold;
            margin: 0;
            color: white;
        }
        h4 {
            font-size: 1.5dvw;
            font-weight: bold;
            margin: 0;
        }
                a {
            color: rgb(99 141 187);
        }
        button {
            border-radius: 1dvw;
            width: 13dvw;
            height: 2dvw;
            background-image: linear-gradient(to right, rgb(99 141 187) , rgba(99, 141, 187, 0.413));
            border: none;
            transition: 0.5s;
        }
        button:hover {
            width: 13.3dvw;
            height: 2.3dvw;
            cursor: pointer;
        }
        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-image: linear-gradient(to right, rgb(150, 150, 150) , rgba(150, 150, 150, 0.5));
            width: 100dvw;
            height: 15dvh;
            margin: 0px;
        }
        .heading1 {
            text-decoration: none;
            padding: 0.5dvh;
            color: black;
            transition: 0.5s;
        }
        .heading1:hover {
            box-shadow:0 0 5px rgb(99 141 187);
        }
        input {
            background: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 0.15rem rgb(99 141 187) solid;
            width: 12dvw;
            transition: 0.5s;
        }
        input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
            outline:none;
            border-bottom: 0.15rem rgb(99 141 187) solid;
            box-shadow:0 0 10px rgb(99 141 187);
        }
        input[type=text]:hover, input[type=email]:hover, input[type=password]:hover {
            width: 12dvw;
            box-shadow:0 0 10px rgb(99 141 187);
        }

        .signup1 {
            width: 25dvw;
            height: 25dvw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(150, 150, 150, 0.5);

            border-radius: 0.5dvw;
            border: 0.1dvw rgb(150, 150, 150) solid;
            box-shadow:0 0 10px rgb(99 141 187);
            /*box-shadow: 5px 5px 3px rgb(225, 225, 225);*/
        }