    * {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        justify-content: space-evenly;
    }
    h1 {
        font-size: 3dvw;
        font-weight: bold;
        margin: 0;
    }
    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
    }
    h3 {
        font-size: 2dvw;
        font-weight: bold;
        margin: 0;
    }
    h4 {
        font-size: 1.75rem;
        font-weight: bold;
        margin: 0;
    }
    h5 {
        font-size: 1.35rem;
        font-weight: bold;
        margin: 0;
    }
    h6 {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    p {
        font-size: 1.2rem;
        margin: 0;
    }