<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        body {
            background-color: white;
        }
        .idek {
            font-size: 2vw;
        }
    </style>
</head>
{% if session['name'] %}

<h1>Hello {{ session['email'] }}</h1>
<a href="/my_sites"><h2>My sites</h2></a>
<a href="/profile"><h2>My profile</h2></a>
<a href="/logout"><h2>Logout</h2></a>
<a href="/join_site"><h2>Join a site</h2></a>
<a href="/create_site"><h2>Create a site</h2></a>
<a href="/sites"><h2>Browse sites</h2></a>
<a href="/log_artefact"><h2>Log artefact</h2></a>

{% else %}
    <body>
        <div class="idek">
        <img src="{{ url_for('static', filename='image.png') }}"height="700" width="500">
            <a href="/signup">Signup</a>
        <a href="/login">Login</a>
        </div>
    </body>
    </html>
{% endif %}
