<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join Site</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/css.css') }}">
    <style>
        option {
            color: black;
        }
        select {
            color: black;
        }
    </style>
</head>
<body>

<div class="container">
     <header class="heading">
    <h1 style="color:black;">Join a site</h1>
    <a href="/" class="heading1"><h4>Home</h4></a>
    <a href="/my_sites" class="heading1"><h4>My sites</h4></a>
    <a href="/profile" class="heading1"><h4>My profile</h4></a>
    <a href="/join_site" class="heading1"><h4>Join a site</h4></a>
    <a href="/create_site" class="heading1"><h4>Create a site</h4></a>
    <a href="/sites" class="heading1"><h4>Browse sites</h4></a>
    <a href="/log_artefact" class="heading1"><h4>Log artefact</h4></a>
    <a href="/logout" class="heading2"><h4>Logout</h4></a>
    </header>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash">{{ msg }}</div> <!-- is this home ec or smt -->
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label for="name">Select Site</label>
        <select name="name" id="name" required>
            <option value="" disabled selected>Choose a site</option>
            {% for site in sites_names %}
                <option value="{{ site[0] }}">{{ site[0] }}</option>
            {% endfor %}
        </select>

        <label for="password">Site Password</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Join Site</button>
    </form>
</div>

</body>
</html>
