<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    

    <style>
    body {
        background-color: rgb(255, 255, 255);  
    }

    .login1 {
            width: 20rem;
            height: 20rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(249, 215, 241, 0.422);

            border-radius: 0.5rem;
            border-color:rgb(204, 234, 255);
            border-width: 0.5rem;
            border-style:double;
        }
</style>
</head>
<body>
    <a href="/">Home</a>
    <div class="login1">
    <h1>Login</h1>
    <form method="post" action="/login">
        <input type="email" name="email" id="email" placeholder="Email" required><br><br>
        <input type="password" name="password" id="password" placeholder="Password" required><br><br>
        <button name="login" id="login">Log In</button>
    </form>
    <p>Dont have an account with us? <a href="/signup">Sign up</a> here</p>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>