<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/css.css') }}">
        <style>
        .page-center {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        .signup-text {
            border-bottom: 0.15rem rgb(99 141 187) solid;
        }
        .flash {
            color: #b91c1c;
        }
    </style>
</head>
<body>
    <div class="page-center">
    <div class="signup1">
        <h1>Login</h1>
        <form method="post" action="/login">
            <input type="email" name="email" id="email" placeholder="Email" required><br><br>
            <input type="password" name="password" id="password" placeholder="Password" required><br><br>
            <button name="login" id="login">Log In</button>
        </form>
        <p>Dont have an account with us? <a href="/signup">Sign up</a> here</p>
        <a href="/">Home</a>
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <h3 class="flash">{{ message }}</h3>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
    </div>
</body>
</html>