<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="post" action="/signup">
        <input type="text" name="name" id="name" placeholder="Name" required><br><br>
        <input type="email" name="email" id="email" placeholder="Email" required><br><br>
        <input type="password" name="password" id="password" placeholder="Password" required><br><br>
        <button name="signup" id="signup">Sign Up</button>
    </form>
    <p>already have an account with us? <a href="/login">Log in</a> here</p>
    <a href="/">Home</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
    {% endwith %}
<style>
    body {
        background-color: rgb(255, 255, 255);
    }
</style>
</body>
</html>