<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>Signup</title>

</head>
<body>
    <div class="login1">
    <div id="signup6"><h1>Signup</h1></div>
    <form action="/signup" method="post">
        <div id="signup1">
        <input name="email" placeholder="Email"><br><br>
        <input name="username" placeholder="Username"><br><br>
        <input name="password" placeholder="Password"><br><br></div>
        <div id="signup4"><button type="submit">sign up</button></div>
        <div id="signup5"><a href="/login"><h2>Log in to an existing account</h2></a></div></div>
        {% if email_or_uid_in_use %}
        <script>
        alert("Email or username already in use! Try again");
        </script>
        {% endif %}
    </form>
</body>
</html>